spacy==3.7.2
fastapi
uvicorn
pydantic
tokenizers
transformers
sentence-transformers
chromadb
langchain
nltk
requests
pyttsx3
psutil
torch
huggingface-hub
protobuf==4.21.6
diffusers>=0.29.0
langchain-community
accelerate
beautifulsoup4
lxml
selenium